.row{   
    display: flex;
    justify-content: space-around;
    background-color:#685e72;
    color:#e8eaf6;
    font-size:20px;
    font-family: 'Cabin Condensed', sans-serif;
}
.headshot{
    width:20%;
}
.mid{
    background-color:#e1c7d9;
    color:#9ebac9;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    display: flex;
    justify-content: center;
    font-family: 'Cabin Sketch', cursive;
}
.aboutme{
    border:1px solid black;   
}
.contact{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #e8eaf6;
}
#home {
    color: #e1c7d9;
    text-decoration: none;
}
.title {
    color: #e8eaf6;
    display: flex;
    justify-content: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
}
.everythingElse {
    background-color: #e0b2ca;
}
html{
    background-color: #9ebac9;
}
p, ul{
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    color: #e8eaf6;
}
ul{
    text-decoration: underline;
}